# Project specific files
config.yaml
data/
.bandit.yml
.dccache
.pre-commit-config.yaml
.ruff.toml

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode
bin/
lib/
lib64
pyvenv.cfg
share/

# reports
output/

# mypy
.mypy_cache/
__pycache__
.qodo
